// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.copertina{
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mycard{
    position: relative;
    border: 2px solid $card-blue;
    font-size: 0.8rem;
    line-height: 20px;

    .mycard-button{
    background-color: $card-blue;
    position: absolute;
    bottom: -5px;
    margin: auto;
    font-size: 0.8rem;
    box-shadow: 3px 3px 5px black;
    text-decoration: none;
    padding: 0.4rem;

        &:hover{
            background-color: $verde-speranza-non-si-perde;
        }
    }
}

.category{
    color: $category-grey;
    text-decoration: none;
}
