// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.order{
    border: 3px solid $verde-speranza-non-si-perde;
    background-color: white;
}

.order-button{
    border: 2px solid $verde-speranza-non-si-perde;
    background-color: $verde-speranza-non-si-perde;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 0.6rem;
}

.order-button:hover{
    border: 2px solid $verde-speranza-non-si-perde;
    background-color: white;
    color: black;
}

.euro{
    color: $verde-speranza-non-si-perde;
}

.order-show{
    border: 3px solid $verde-speranza-non-si-perde;
    background-color: white;
}


// DISH INDEX LUIGI
.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
   }

   .mycard{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 600px;
    width: 300px;
    border: 2px solid $card-blue;
   }

   .dish-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30%;
    width: 102%;
    position: relative;
    right: 1%;
   }
   .dish-img{
    width: 100%;
   }

   .dish-name{
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    height: 10%;
    white-space: nowrap;
    // background-color: red;
   }

   .dish-info{
    font-size: 1.5em;
    padding: 5px 15px;
    height: 15%;
    // background-color: blue;
   }

   .dish-price{
    font-size: 2em;
    padding: 5px 15px;
    height: 10%;
    // background-color: green;
   }

   .available{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1.3em;
    white-space: nowrap;
   }
   .yes-av{
    background-color: green;
    padding: .5em;
    border-radius: 10px;
    width: 90%;
   }
   .no-av{
    background-color: red;
    padding: .5em;
    border-radius: 10px;
    width: 90%;
   }
   .dish-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25%;
    // background-color: yellow;
   }

   .dish-button{
    background-color: #00ccbb;
    width: 150px;
    border-radius: 20px;
    color: white;
    border: none;
    padding: .25rem 1rem;
    white-space: nowrap;
    font-size: 1.2em;
    box-shadow: 3px 3px #888888;
    margin: 5px;
   }

   .delete-button{
    background-color: rgb(171, 0, 0);
   }

   .show-dish-img{
    width: 500px;
    margin-bottom: 2em;
   }

//    DASHBOARD RISTORANTE LUIGI

.logo-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-container{
border-radius: 50%;
width: 350px;
height: 350px;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
border: solid #00ccbb 10px;
margin: 3em;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
background-color: white;
position: absolute;
margin: -200px;
}

.logo{
width: 100%;
}

.cover-container{
width: 100%;
height: 400px;
margin: 3em;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}

.cover{
width: 100%;
}

.restaurant-name{
    font-size: 5em;
    margin: .5em;
}
.restaurant-address{
    font-size: 2em;
    margin-left: 1.8em;
}
.restaurant-name{
    font-size: 5em;
    margin: .5em;
}











